#menu {
   position: absolute;
   background: #fafafa;
   padding: 8px;
   border-radius: 0px 0px 5px 0px;
   box-shadow: 1px 1px 3px 1px grey;
   font-family: 'Open Sans', sans-serif;
}

.enlarge-onhover {
     width: 200px;
     height: 125px;
     transition-duration: 0.5s; /* delays for 1 second */
     -webkit-transition-duration: 0.5s; /* for Safari & Chrome */
     box-shadow: 1px 1px 3px 1px grey; 
}
.enlarge-onhover:hover {
     width: 640px;
     height: 400px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.8s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
