#menu {
   position: absolute;
   background: #fafafa;
   padding: 8px;
   border-radius: 0px 0px 5px 0px;
   box-shadow: 1px 1px 3px 1px grey;
   font-family: 'Open Sans', sans-serif;
}

.enlarge-onhover {
     width: 200px;
     height: 125px;
     transition-duration: 0.5s; /* delays for 1 second */
     -webkit-transition-duration: 0.5s; /* for Safari & Chrome */
     box-shadow: 1px 1px 3px 1px grey;
}
.enlarge-onhover:hover {
     width: 640px;
     height: 400px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.8s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

input[type=text].mapboxgl-ctrl-geocoder--input {    /*fixing geocode clash with base.css*/
  border: 0px;
  background-color: rgba(0,0,0,0);
  padding: 6px 35px;
  height: 36px;
}
.mapboxgl-ctrl-geocoder--icon-search {
  top: 7px;
}

#legend {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 4px;
  margin: 8px;
}

#legendbtn {
  margin: 8px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  #legend, #legendbtn {
    margin: 0px;
  }
}
